site_name: Klipper Misc Docs
theme:
  name: material
  features:
    - content.code.copy
    - navigation.sections
  icon:
    logo: material/printer-3d
    repo: fontawesome/brands/github
  language: en
  plugins:
    - navigation.indexes
    - search
    - content.code.copy
    - git-committers:
        repository: meteyou/docs
        branch: main
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# add repo to mkdocs
repo_name: meteyou/docs
repo_url: https://github.com/meteyou/docs

# full navigation structure
nav:
  - Home: index.md
  - CANBUS Guides:
    - BigTreeTech EBB:
        - Overview: btt-ebb/index.md
        - CanBoot (optional): btt-ebb/canboot.md
        - Klipper: btt-ebb/klipper.md
    - BigTreeTech U2C v1.x:
      - Overview: btt-u2c-v1.x/index.md
      - Candlelight: btt-u2c-v1.x/candlelight.md
      - CanBoot (optional): btt-u2c-v1.x/canboot.md
      - Klipper USB-to-CAN: btt-u2c-v1.x/klipper-usb-to-can.md
    - BigTreeTech U2C v2.x:
      - Overview: btt-u2c-v2.x/index.md
      - Candlelight: btt-u2c-v2.x/candlelight.md
      - CanBoot (optional): btt-u2c-v2.x/canboot.md
      - Klipper USB-to-CAN: btt-u2c-v2.x/klipper-usb-to-can.md
    - Mellow Fly SHT v1:
      - Overview: mellow-fly-sht-v1/index.md
      - CanBoot (optional): mellow-fly-sht-v1/canboot.md
      - Klipper: mellow-fly-sht-v1/klipper.md
  - Klipper Tutorials:
    - PA-Calibration with LA-Test: pa-calibration-la-test/index.md
    - SSD1306 Display:
      - Overview: ssd1306-display/index.md
      - RPi with Host-MCU: ssd1306-display/rpi-host-mcu.md
  - Other Tutorials:
    - Snakeoil Certificates: snakeoil-certificates/index.md

# add some markdown extensions
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

# add some social media buttons to the footer
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/meteyou
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@meteyou
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/meteyou

# add copyright to the footer
copyright: |
  &copy; 2023 <a href="https://github.com/meteyou"  target="_blank" rel="noopener">Stefan Dej (meteyou)</a>